@model MP1.Models.UserDetails
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-controller="UserDetails"  asp-action="LoginPage"><button class="btn btn-danger mt-2 text-white">Log Out</button></a>